<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<title>Live Streaming</title>
  </head>
  <body bgcolor="#f44336"  align=center>
    <h1>Live Streaming </h1>
	<h2>Prototipe Robot Personal Asisstant Keamanan</h2>
	<hr color="black">
	<h3>
    <img src="{{ url_for('video_feed')}}"></h3>
	<h4>
		<a href="/maju"><button style="height: 45px; width: 150px">MAJU</button></a>
		<a href="/kanan"><button style="height: 45px; width: 150px">KANAN</button></a>
		<a href="/kiri"><button style="height: 45px; width: 150px">KIRI</button></a>
		<a href="/mundur"><button style="height: 45px; width: 150px">MUNDUR</button></a></h4>
	<h5>
		<a href="/berhenti"><button style="height: 45px; width: 150px">STOP</button></a></h5>
  </body>
</html>
